/*@media screen and (min-width: 	480px)
{
	body{
		background: 	navy;
	}
}*/

@media screen and (min-width: 	660px)
{
	nav{
		background: none;
		float: right;
		font-size: 1.125em;
		margin-right: 5%;
		text-align: right;
		width: 45%;
		}
}
@media screen and (min-width: 	480px)
{
	#primary {
		width: 	50%;
		float: 	left;
	}
	#secundary {
		width: 	40%;
		float: 	right;
	}
/** Nos permite visualizar las imagenes en tres columnas	**/	
	#galeria li {
		width: 28.3333%;
	}
	/**Par  a eviatr q se sobre pongan las imagenes el 2 columna**/
	#galeria li:nth-child(3n+1) {
		clear: left;
	}
	.profile-photo {
	float: left;
	margin: 0 5% 120px 0;
	}
}